* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}

.container {
    width: 680px;
    height: 500px;
    background-color: black;
    margin: 60px auto;
    position: relative;
}

.block {
    width: 150px;
    height: 30px;
    border: none;
    background-color: blue;
    position: absolute;
    bottom: 0;
}

.blockup {
    width: 150px;
    height: 30px;
    margin: 10px;
    display: inline-block;
    background-color: blue;
}

#ball {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    border-radius: 1px solid lime;
    box-shadow: 1px 1px 30px lime, inset 1px 1px 10px lime;
}